{
  "plugins": ["@babel/plugin-transform-runtime", "@babel/plugin-syntax-dynamic-import"],
  "comments": false,
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["last 2 versions", "ie >= 9"]
      }
    }]
  ]
}
