{
  "plugins": ["transform-runtime", "syntax-dynamic-import"],
  "comments": false,
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "ie >= 9"]
      }
    }]
  ]
}
